.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.4em;
  max-width:100vw ;
  
}
.contact-one-item {
  font-size: larger;
  display: flex;
  align-items: center;
  border-radius: 15px;
  background-color: grey;
  width: 80vw;
  justify-content: space-around;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.contact-personal-info{
  width: 50%;
}
.contact-icon:hover{
  scale: 1.2;
}