.contact-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
  max-width:100vw ;
  
}
.contact-one-item {
  font-size: larger;
  display: flex;
  
  align-items: center;
  border-radius: 15px;
  background-color: grey;
  width: 80vw;
  justify-content: space-around;
}
.contact-personal-info{
  width: 50%;
}
.contact-icon:hover{
  scale: 1.2;
}