.layout {
  min-height: 100vh;
  display: flex;
  /* align-items: center; */
  flex-direction: column;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.789);
  min-height: 10vh;
}

footer {
  background-color: rgba(0, 0, 0, 0.789);
  display: flex;
  justify-content: space-around;
  flex: 1;
  min-height: 10vh;
}
.latout-link {
  align-self: center;
  text-decoration: none;
  color: black;
}
.latout-link:hover {
  scale: 1.2;
  color: beige;
}
