.layout{
height: 100vh;
display: flex;
flex-direction: column;

}
header{
    display: flex;
    justify-content:space-around ;
    background-color: rgba(0, 0, 0, 0.789);
    height:10px;
}
footer{
    background-color:  rgba(0, 0, 0, 0.789);
    display: flex;
    justify-content:space-around ;
    height: 500px;
    flex:1;
    height: 2px;
}